@model ModelQT.Framework.TblJson

@{
  ViewBag.Title="ARCreate";
  Layout="~/Areas/AreaAccount/Views/Shared/_Layout.cshtml";
}

<h2>ARCreate</h2>

@using(Html.BeginForm()) {
  @Html.AntiForgeryToken()

  <div class="form-horizontal">
    <h4>TblJson</h4>
    <hr />
    @Html.ValidationSummary(true,"",new { @class = "text-danger" })
    <div class="form-group">
      @Html.LabelFor(model => model.Keyword,htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @Html.EditorFor(model => model.Keyword,new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Keyword,"",new { @class = "text-danger" })
      </div>
    </div>

    <div class="form-group">
      @Html.LabelFor(model => model.Json,htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @Html.TextAreaFor(model => model.Json,new { htmlAttributes = new { @class = "form-control" }, cols="40",rows="8" })
        @Html.ValidationMessageFor(model => model.Json,"",new { @class = "text-danger" })
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Create" class="btn btn-default" />
      </div>
    </div>
  </div>
}

<div>
  @Html.ActionLink("Back to List","ARIndex")
</div>
