
@{
  Layout=null;
}
@model WebLogQT.Areas.AreaAccount.Models.LoginModel

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Đăng nhập</title>
  <link href="~/Assets/admin/dist/css/styles.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>
</head>
<body class="bg-primary">
  <div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
      <main>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-5">
              <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header"><h3 class="text-center font-weight-light my-4">Đăng nhập</h3></div>
                <div class="card-body">

                  @using(Html.BeginForm()) {
                    @Html.AntiForgeryToken()
                    @*@Html.ValidationSummary(true,null,new { @class = "alert alert-danger" })*@

                    <div class="form-group">
                      <label class="small mb-1" for="inputEmailAddress">Tên đăng nhập</label>
                      @Html.TextBoxFor(model=>model.StrUserName,
				 new { @class= "form-control py-4", @placeholder= "Tên đăng nhập", @autofocus= "autofocus" })
                      @*<input class="form-control py-4" id="inputEmailAddress" type="email" placeholder="Enter email address" />*@
                    </div>
                    <div class="form-group">
                      <label class="small mb-1" for="inputPassword">Mật khẩu</label>
                      @Html.TextBoxFor(model=>model.StrPassword,
				   new { @class= "form-control py-4", @placeholder= "Mật khẩu", @type= "password" })
                      @*<input class="form-control py-4" id="inputPassword" type="password" placeholder="Enter password" />*@
                    </div>
                    <div class="form-group collapse">
                      <div class="custom-control custom-checkbox">
                        @Html.CheckBoxFor(model => model.BlnRememberMe,
				 new { @class = "custom-control-input",@type = "checkbox",@id = "rememberPasswordCheck" })
                        @*<input class="custom-control-input" id="rememberPasswordCheck" type="checkbox" />*@
                        <label class="custom-control-label" for="rememberPasswordCheck">Remember password</label>
                      </div>
                    </div>
                    <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                      <a class="small collapse" href="password.html">Forgot Password?</a>

                      <a class="btn btn-primary collapse" href="#" role="button" onclick="showConfirm()"
						  @(ViewBag.strIdButtonCreate==null ? "" : $"id={ViewBag.strIdButtonCreate}")>Create Super</a>

                      <button type="submit" class="btn btn-primary">Đăng nhập</button>
                    </div>
				  }

                </div>
                <div class="card-footer text-center collapse">
                  <div class="small"><a href="register.html">Need an account? Sign up!</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>

  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
  <script src="~/Assets/admin/dist/js/scripts.js"></script>
  <script src="/Assets/admin/js/CtlLoginController.js"></script>

  @if(ViewBag.objAddJSConfirm!=null) {
    <script type="text/javascript">
	  function showConfirm() {
		var strHref = "#";

		if (confirm(@Html.Raw(Json.Encode(@ViewBag.strConfirmJs)))) {
		  strHref = '@ViewBag.strNewHref';
		} else {
		  //document.getElementById("idBtnCreate").href = '#';
		}

		document.getElementById('@ViewBag.strIdButtonCreate').href = strHref;
	  }
    </script>
  }

  @if(ViewBag.strMessageJs!=null) {
    <script type="text/javascript" charset='UTF-8'>
            $(function () {
			  alert(@Html.Raw(Json.Encode(@ViewBag.strMessageJs)));
            });
    </script>
  }

  @if(ViewBag.objAddJSClickButton!=null) {
    <script type="text/javascript">
            $(function () {
			  document.getElementById('@ViewBag.strIdButtonCreate').click();
            });
    </script>
  }

</body>
</html>

